<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797520807518-bl2m2ap7anlpchnen69bvraapspvh65n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797520807518-bl2m2ap7anlpchnen69bvraapspvh65n</string>
	<key>API_KEY</key>
	<string>AIzaSyBmQDvCNqDM3Z05dxoesAoCji19I4wx6bY</string>
	<key>GCM_SENDER_ID</key>
	<string>797520807518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mizwar.surveyAppUser.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>surveyapp-34a4f</string>
	<key>STORAGE_BUCKET</key>
	<string>surveyapp-34a4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797520807518:ios:068138eb4118b651d296cf</string>
</dict>
</plist>